body {
	padding:0;
	margin:0;
	font:13px Helvetica,Arial, sans-serif;
	background:#333;
}
h1 {
	position:absolute;
	top:41px;
	left:50%;
	width:960px;
	margin-left:-480px;
	padding:0;
	font-size:68px;
	letter-spacing:-3px;
	color:#666;
}
#wrapper {
	width: 960px;
	margin:150px auto 0;
	background:white;
	padding:10px;
	border:5px #666 solid;
}
#sidebar {
	width:200px;
	float:left;
}
#content {
	width: 760px;
	float:right;
}
.message {
	margin: 7px 0 14px;
	border: 1px transparent solid;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
}
.message p {
	padding:10px;
	margin:0;
	font-size:1.1em;
}
.message-success, .enabled, .enabled td {
	background-color:#DAF0CB;
	border-color:#B5E198;
	color:#255B00;
}
.message-notice {
	background-color:#D6E9F7;
	border-color:#AED3F0;
	color:#0B5793;
}
.message-error, .disabled, .disabled td {
	background-color:#F3DDD5;
	border-color:#E2AC98;
	color:#601000;
}

#users {
	padding-top:0;
	padding-left:25px;
}

#input {
	width: 70%;
	padding:8px;
	border:1px #aaa solid;
	float:left;
	border-radius:4px;
	-moz-border-radius:4px;
	-webkit-border-radius:4px;
}
.clear {clear:both;height:1px;}
.ui-form {display:none;}
label, input { display:block; }
input.text { margin-bottom:12px; width:95%; padding: .4em; background:white;}
fieldset { padding:0; border:0; margin-top:0px; }
.ui-dialog .ui-state-error { padding: .3em; }
.validateTips { border: 1px solid transparent; padding: 0.3em; }

#responses {margin:0;padding:0px;list-style:none;}
#responses li {
	margin:0;
	padding:0;
	list-style:none;
	clear:left;
}
#responses span {
	display:block;
	float:left;
	padding:3px 5px 3px 0;
}
#responses .date {
	color:gray;
	padding-right:7px;
}
#responses .user.admin {
	font-weight:bold;
}
#inputWrapper {clear:both;padding-top:15px;}
