body {
	font:85%/180% "Helvetica Neue",Helvetica,Arial,sans-serif;
	background:#e7e7e7;
	padding:25px;
	margin:0;
}

h2 {
	font-family:Arial, sans-serif;
	font-size:2.5em;
	margin-bottom:10px;
	font-weight:normal;
	letter-spacing:-1px;
}

h3 {
	font-size:1.2em;
}

.method-wrapper {
	background:white;
	border:1px #bbb solid;
	margin:15px 0 0 0;
}

.method-info, .method-info li {
	list-style:none;
	margin:4px 0;
	padding:0;
	clear:both;
}

.method-info li strong:first-child {
	padding-right:10px;
	width:100px;
	display:block;
	float:left;
	clear:left;
	text-align:right;
}
.method-info li strong {
	padding-right:10px;
}

.clear {
	clear:both;
	height:1px;
}